SITE_URL=https://kspotnow.com
CONTACT_EMAIL=contact@kspotnow.com
GOOGLE_ADSENSE_PUBLISHER_ID=pub-0000000000000000
GOOGLE_ADSENSE_CLIENT=ca-pub-0000000000000000
GOOGLE_ADSENSE_SLOT=0000000000
GOOGLE_ADSENSE_SERVING_ENABLED=0
GOOGLE_ADSENSE_CMP_READY=0
GOOGLE_ADSENSE_CMP_EVIDENCE=0
GOOGLE_SITE_VERIFICATION=your_search_console_meta_content
AGODA_PARTNER_CID=your_agoda_partner_cid
TRIP_ALLIANCE_ID=your_trip_com_alliance_id
TRIP_ALLIANCE_SID=your_trip_com_alliance_sid
TRIP_SUB1=
TRIP_SUB3=your_trip_com_campaign_sub3
TRIP_SEOUL_HOTELS_URL=https://www.trip.com/hotels/list?city=274&display=Seoul&optionId=274&optionType=City&optionName=Seoul&Allianceid=your_trip_com_alliance_id&SID=your_trip_com_alliance_sid&trip_sub1=&trip_sub3=your_trip_com_campaign_sub3
KLOOK_AFFILIATE_AID=your_klook_affiliate_aid
TRAZY_AFFILIATE_ID=your_trazy_affiliate_id
CLOUDFLARE_WORKER_NAME=kculture
CLOUDFLARE_ACCOUNT_ID=your_cloudflare_account_id
CLOUDFLARE_API_TOKEN=your_cloudflare_pages_api_token
DATA_GO_KR_SERVICE_KEY=your_data_go_kr_common_key
KTO_SERVICE_KEY=your_data_go_kr_tourapi_key
KMA_SERVICE_KEY=your_data_go_kr_kma_asos_key
CONTENT_FRESHNESS_STRICT=0
SOURCE_AUDIT_STRICT=0
ALLOW_PLATFORM_SUBDOMAIN=0
SOURCE_TIMEOUT_MS=8000
SOURCE_CONCURRENCY=6
ADSENSE_READINESS_STRICT=0
COLLECT_TIMEOUT_MS=10000
COLLECT_CONCURRENCY=6
COLLECT_MAX_LINKS=18
COLLECT_MIN_LINK_SCORE=7
MONITOR_URLS=
KMA_MAX_DAYS=31
